* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}

.top {
    width: 100%;
    height: 80px;
}

.containerNavbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.containerList {
    width: 250px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerList li {
    margin: 5px;
}

.containerList li a {
    margin-right: 10px;
    color: black;
    font-size: 1.3rem;
}
.containerList li a:hover{
    text-decoration: underline;
}
.menu-font {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    
}
.menu-font:hover{
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 50%;
}
.menu {
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: 10px;
}
.iconPerfil {
    border-radius: 50%;
    margin-left: 4px;
}

.center {
    width: 100%;
    height: 300px;
    
}
.containerLogoGoogle {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 100px;
}
.containerLogoGoogle img {
    width: 270px;
}
.ContainerBuscador {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.buscador {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid #e7e8eb;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buscador:hover {
    box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.49);
-webkit-box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.49);
}

.lupa {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.entradaText {
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 20px;
    font-size: 1.6rem;
}

.micro {
    width: 15px;
    height: 20px;
    margin: 10px;
}
.imgBuscador {
    margin: 15px;
    width: 20px;
    height: 20px;
}
.optionsShearch {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.box {
    display: flex;
    width: 170px;
    height: 45px;
    background-color: #f8f9fa;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border:  1px solid #e7e8eb;
    border-radius: 5px;
    margin: 0 10px;
}
.box:hover {
    cursor: pointer;
    box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.49);
-webkit-box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.49);
-moz-box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.49);
        
}
.box p {
    color: black;
}
.country{
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f2f2f2;
    
    
}
.country p {
    margin-left: 30px;
    font-size: 1.6rem;
    color: grey;
}

.bot {
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #d9d9d9;
}
.botList {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}
.botList ul{
    display: inline-flex;
}
.right {
    margin-right: 20px;
}
.Left {
    margin-left: 20px;
}
.botList ul li {
    margin: 0 10px;
}
.botList ul li a {
    color: grey;
}

.botList ul li a:hover {
    text-decoration: underline;
    
}
